{% extends "quora/base.html" %}
{% block content %}
<h1 class="mb-3">Questions by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
{% for question in questions %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ question.author.profile.user_image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-questions' question.author.username %}">{{ question.author }}</a>
            <small class="text-muted">{{ question.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'question-detail' question.id %}">{{ question.title }}</a></h2>
        <p class="article-content">{{ question.content }}</p>
    </div>
</article>
{% endfor %}
{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
